<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WorksToDo</title>
  </head>
  <body>

    <% if(kindDay === "Saturday" || kindDay === "Sunday"){ %>
      <h1 style="color: purple"> <%= kindDay %> Work List</h1>
  <%  }else{ %>
     <h1 style="color: blue"> <%= kindDay %> Work List</h1>
  <%  } %>
  </body>
</html>
